POSTGRES_PASSWORD='postgres'
POSTGRES_USER='postgres'
POSTGRES_DB='land_list_be_development'
POSTGRES_HOST='localhost'
POSTGRES_PORT='5432'
API_BASE_URL='http://localhost:3001'
JWT_SECRET="U5WX2hgm3OqgfCtds0VAc5rT3Gjqfckp3FylDcMcpig"